.header {
    text-align: center;
}

.header {
    padding: var(--spacing-triple) 0 var(--spacing-double);
}

.header .title {
    font-size: var(--font-size-big);
    margin-bottom: var(--spacing-half);
}

.header .subtitle {
    font-size: var(--font-size-medium);
    margin-bottom: var(--spacing-default);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    position: relative;
}

.menu-item:after {
    content: attr(data-title);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-smaller);
    color: var(--color-post-color);
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-5px);
    opacity: 0;
    transition: var(--transition-default);
}

.menu-item:hover:after {
    opacity: 1;
    transform: translateY(0);
}

.menu-link {
    display: flex;
    padding: var(--spacing-default);
}

.menu-image {
    width: 15px;
    height: 15px;
}

.content {
    color: var(--color-post-color);
}

.content > * {
    padding: var(--spacing-double) 0;
}

.section:nth-of-type(odd) {
    background: var(--color-post-background);
}

.wrapper {
    margin: 0 auto;
    width: var(--grid-size);
    max-width: 100%;
    padding: var(--spacing-default) var(--spacing-double);
}

.text {
    line-height: 1.7;
}
.text:not(:last-child),
.section .title {
    margin-bottom: var(--spacing-default);
}

.section .title {
    font-size: var(--font-size-big);
}

.section .subtitle {
    font-size: var(--font-size-medium);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
}

.texts {
    width: 75%;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: var(--radius-rounded);
    overflow: hidden;
    border: 2px solid currentColor;
    margin: 0 auto;
    background: url(images/crow.thumb.webp) no-repeat center center var(--color-black);
    background-size: cover;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-default);
}

.avatar:hover img {
    opacity: 0;
}

.footer {
    text-align: center;
    font-size: var(--font-size-small);
    padding: var(--spacing-triple) 0;
}

.expander {
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    margin-bottom: var(--spacing-half);
    padding: var(--spacing-half) 0;
    user-select: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-half);
    list-style: none;
}

.expander::marker,
.expander::-webkit-details-marker {
    display: none
}

.expander::before {
    --negative-onehalf: calc(var(--spacing-onehalf) * -1);
    content: '+';
    display: block;
    left: var(--negative-onehalf);
    font-size: var(--font-size-medium);
}

.expander[data-emoji]::before {
    content: attr(data-emoji) !important;
}

.accordion[open] .expander::before {
    content: '-';
}

.section.music .accordion[open] .expander {
    color: var(--color-red);
}
.section.world .accordion[open] .expander {
    color: var(--color-terminal-blue-light);
}
.section.nature .accordion[open] .expander {
    color: var(--color-terminal-green);
}
.section.lifestyle .accordion[open] .expander {
    color: var(--color-terminal-yellow);
}

.vehicle {
    padding: 0 var(--spacing-half);
    border-radius: var(--radius-default);
    color: var(--color-black);
    display: inline-block;
    font-weight: bold;
    transition: var(--transition-default);
}

.vehicle[data-name="Igor Miranda"] {
    background: var(--color-red);
}

.vehicle[data-name="Sonoridade Underground"] {
    background: var(--color-terminal-yellow);
}

.vehicle[data-name="DownStage"] {
    background: var(--color-terminal-purple);
}

.vehicle:hover {
    color: var(--color-white);
}

.scrollable {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: var(--spacing-default);
    position: relative;
    padding-bottom: var(--spacing-default);
}

.scrollable::-webkit-scrollbar {
    height: var(--spacing-half);
}
  
.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: var(--radius-default);
    background: var(--color-post-color);
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: var(--color-white);
}

.gallery {
    position: relative;
    overflow: hidden;
    margin-bottom: var(--spacing-default);
}

.gallery::before, .gallery::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.gallery::before {
    left: 0;
    box-shadow: 0 0 var(--spacing-default) 3px var(--color-post-background);
}

.gallery::after {
    right: 0;
    box-shadow: 0 0 var(--spacing-default) 3px var(--color-post-background);
}

.photo {
    min-width: 200px;
}

.polaroid {
    --negative-onehalf: calc(var(--spacing-onehalf) * -1);
    background: var(--color-white);
    padding: var(--spacing-onehalf) var(--spacing-default) var(--spacing-quadruple);
    box-shadow: inset 0 var(--negative-onehalf) var(--spacing-triple) var(--negative-onehalf) var(--color-post-background), var(--shadow-default);
}

.photo .clickable {
    cursor: zoom-in;
    display: block;
    width: 100%;
    min-height: 100%;
    background: transparent;
}

.photo .clickable:hover img {
    transform: scale(1.01);
    opacity: 0.85;
}

.photo figure {
    overflow: hidden;
}

.photo figure,
.photo img {
    width: 100%;
    height: 100%;
    transition: var(--transition-default);
}

.photo img {
    transform: initial;
    opacity: 1;
}

.details {
    padding-bottom: var(--spacing-half);
    font-size: var(--font-size-smaller);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-half) / 2);
}

.artist {
    display: inline;
}

.info {
    color: var(--color-red);
}

.artist:not(:first-child, :last-child):after {
    content: ', ';
    color: var(--color-post-color);
}

.body:has(.modal[open]) {
    overflow: hidden;
}

.modal {
    background: transparent;
    max-width: initial;
    max-height: initial;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.modal::backdrop {
    --blur: 5px;
    --margin: calc(var(--blur) * 2 * -1);
    -webkit-filter: blur(var(--blur));
    -moz-filter: blur(var(--blur));
    -o-filter: blur(var(--blur));
    -ms-filter: blur(var(--blur));
    filter: blur(var(--blur));
    --webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
    background: rgba(0, 0, 0, 0.8);
    margin: var(--margin);
}

.modal .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--spacing-double);
    flex-direction: column;
}

.modal .figure {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.modal .figure:after {
    content: attr(data-alt);
    text-align: center;
    font-size: var(--font-size-small);
    display: block;
    margin-top: var(--spacing-default);
}

.modal .img {
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.modal .close {
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: var(--spacing-onehalf);
    width: var(--spacing-onehalf);
    font-weight: bold;
    font-size: var(--font-size-medium);
    color: var(--color-post-background);
    background: transparent;    
    border-left: 2px dashed currentColor;
    border-bottom: 2px dashed currentColor;
    border-radius: 0 0 0 50%;
}


/* Loader */
.loader {
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-default);
}

.loader img {
    opacity: 0;
    transition: var(--transition-default);
}

.loader[data-loading="true"] img {
    opacity: 1;
}

.loader[data-loading="false"] {
    opacity: 0;
}

@media (max-width: 800px) {
    .greeting {
        text-align: center;
    }

    .avatar {
        margin-bottom: var(--spacing-default);
    }

    .about {
        flex-direction: column-reverse;
    }

    .texts {
        width: initial;
    }
}